*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 25rem;
}

main{
    background: linear-gradient(100deg,rgb(6, 48, 240), lightblue);

}

.contenedor-inmuebles{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

}

.inmueble-imagen{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.inmueble-detalles{
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

.inmueble-consultar{
    border: 0;
    padding: 0,50rem;
}

.disabled{
    display: none;
}

.logoimg{
    width: 10%;
}

.imagen-redes{
    width: 150px;
    margin-left: 10cm;
    margin-bottom: 3cm;
    margin-top: 3cm;
}

footer{
    background: linear-gradient(45deg, blue, red);
}

header{
    background: linear-gradient(45deg, blue, red);
}

.titulo-principal{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px white;
    margin-bottom: 2cm;
    margin-left: 3cm;
    padding-top: 2cm;
}

.logo{
    font-size: 2cm;
    margin-left: 3cm;
}
.titulo{
    padding-left: 3cm;
}

#contenedor-consultas{
    display: grid;
    grid-template-areas: 
        "imagen titulo"
        "imagen titulo"
        "imagen titulo"
        "imagen titulo"
        "imagen titulo"
        "imagen titulo";

}
